/DSD-CuadrosMagicos/nbproject/private/
/DSD-CuadrosMagicos/build/
/DSD-ComunicacionEntreProcesos/nbproject/private/
/DSD-ComunicacionEntreProcesos/build/
/DSD-Sockets/nbproject/private/
/DSD-Sockets/build/
/DSD-SocketsChat/nbproject/private/
/DSD-SocketsChat/build/
/DSD-SocketsGasolina/nbproject/private/
/DSD-SocketsGasolina/build/
